<!DOCTYPE html>
<html lang="ES">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="content-style-type" content="text/css">
    <!-- Metadatos sobre el autor, palabras clave y descripcion-->
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--Fuentes extraidas de Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
    <!--***********************************-->
    <!-- Hojas de estilos CSS-->
    <link type="text/css" rel="stylesheet" href="../assets/css/base.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/galery.css">
    <!--***********************************-->
    <!-- Agregar imagen de la pestaña-->
    <link type="image/png" rel="shortcute icon" href="../assets/icons/desktop.png">
    <!--***********************************-->
    <!-- Titulo de la pestaña-->
    <title>Sistemas Web </title>
  </head>
  <body>
    <main class="content">
      <header class="header">
        <hgroup class="header__banner banner">
          <!--***********************************-->
          <!--Titulo de la Pagina-->
          <a class="galery__link" href="../index.html">
            <h1 class="banner__title">Sistemas Web</h1>
          </a>
        </hgroup>
      </header>
      <section class="section">
        <!--***********************************-->
        <!--Galeria de imagenes-->
        <article class="section__galery">
          <!--***********************************-->
          <!--Titulo de la Galeria-->
          <h3 class="galery__issue">Blog Web</h3>
          <!--***********************************-->
          <!--Imagenes de la galeria-->
          <figure class="galery__figure">
            <img src="../assets/img/imagen1.jpg" loading="lazy" alt="description">
            <img src="../assets/img/imagen2.jpg" loading="lazy" alt="description">
            <img src="../assets/img/imagen3.jpg" loading="lazy" alt="description">
            <img src="../assets/img/imagen4.jpg" loading="lazy" alt="description">
            <img src="../assets/img/imagen5.jpg" loading="lazy" alt="description">
          </figure>
        </article>
      </section>
      <!--***********************************-->
      <!--Pie de pagina-->
      <footer class="footer">
        <article class="footer__paragraph paragraph">
          <pre class="paragraph__text">&copy; PILARES, Todos los derechos reservados</pre>
          <a class="footer__link" href="#id" title="Facebook" target="_blank">
            <img src="../assets/icons/facebook.png" loading="lazy" alt="facebook">
          </a>
          <a class="footer__link" href="#id" title="Instagram" target="_blank">
            <img src="../assets/icons/instagram.png" loading="lazy" alt="instagram">
          </a>
          <a class="footer__link" href="#id" title="GitHub" target="_blank">
            <img src="../assets/icons/github.png" loading="lazy" alt="GitHub">
          </a>
        </article>
      </footer>
    </main>
  </body>
</html>
